@import "config";

.container {
	padding: 0 2rem;
	min-height: 100vh;

	.main {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		padding-top: 13.375rem;

		.logoWrapper {
			width: 115px;
			height: 82px;
		}
	}

	.photoWrapper {
		display: none;
	}
}

@media only screen and (min-width: 744px) {
	.container {
		padding: 12rem 6rem;

		.main {
			padding: 0;
			height: 749px;
			background: #ffffff;
			box-shadow: 0px 8px 16px rgba(53, 55, 68, 0.04);
			border-radius: 32px;

			.logoWrapper {
				margin: 120px 219px 0 218px;
			}
		}
	}
}

@media only screen and (min-width: 1440px) {
	.container {
		display: flex;
		padding: 0;
		width: 1440px;
		height: 1024px;
		position: relative;

		.main {
			padding: 0 7.5rem 0 10rem;
			height: 100%;
			width: 636px;
			border-radius: 0px;
			box-shadow: none;

			.logoWrapper {
				padding: 120px 219px 0 218px;
			}
		}

		.photoWrapper {
			width: 804px;
			height: 1024px;
			display: block;
			background: $color-gradient;
			opacity: 0.5;
			position: absolute;
			right: 0;

			box-shadow: 20px 0px 80px rgba(53, 55, 68, 0.16);
		}
	}
}
